body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.title_box {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.title {
    font-size: 10em;
}

.content {
    flex: 1;
    align-items: stretch;
    top: -40px;
}

.feature_box {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.feature_row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.box {
    /*border: 1px solid white;*/
    border-radius: 15px;
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    background-color: rgba(255,255,255,0.1);
}

.box_title {
    text-align: center;
    color: white;
    font-size: 2em;
    padding-top: 0.5em;
}

.box_content {
    color: lightgray;
    padding-left: 2em;
    padding-bottom: 1em;
    line-height: 1.5;
}

.box_content b {
    color: white;
}

.box_content .subtitle {
    font-size: 1.3em;
}

.contact {
    color: white;
}

.contact a:link {
    color: lightgreen;
}

.contact a:hover {
    color: rgb(0,255,0);
}
